/*using google font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {

color: white;
background-image: url("./components/images/bodyBack.jpg");
background-size: 100% 100%;
font-family: 'Oswald', sans-serif;
}

h2{
  font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
}
.mainClass{
  height: 40rem;
}
#navDiv{

  width: 100%;
background-color:black ;
}

.header{
  display: inline;





  margin-top:1rem;
  margin-left:auto;

  margin-right:auto;
}
#mainSide{
  width: 35%;
}
#side{
  width: 20%;
 margin-left: 1rem;
 margin-right: 1rem;
}

#navDiv li{


   color: white;
     display: inline;
      text-decoration: none;
  height: 4rem;

      margin-left: 0.65rem;
        margin-right: 0.65rem;
        text-align: center;
       padding-top: 0.5em;



}
ul{


  border-bottom-color: white;
  border-bottom-style: solid;

  border-top-width: thin;
  border-bottom-width: thin;
  height: 2rem;
font-size: 1.25rem;
  margin: 0 auto;
  background-color: black;

}
a{

      text-decoration: none;
      color: white;
}

a:visited{
  color: white;
  text-decoration: none;
}

/** makes pokeballs bigger**/

.mineDivFront{


  width: 99%;
  margin: 0 auto;
  text-align: center;


}
#mineDiv{
  background-color: white;
  border-radius: 2%;
  border-style: ridge;
  border-color: gray;
  width: 50%;

  margin-left: auto;
  margin-right: auto;

}
#win1{

  margin-left: auto;
  margin-right: auto;

}
#win1 img{
  width: 65%;
 height: 27rem;
 border-radius: 5%;
 border-style: ridge;
 border-color: gray;

}


#lose1{

  margin-left: auto;
  margin-right: auto;

}
#lose1 img{
  background-color: white;
  width: 65%;
 height: 27rem;
 border-radius: 5%;
 border-style: ridge;
 border-color: gray;

}
#restart button{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2em;
  width: 4em;
  height: 2em;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border-radius:10%;
}




.safeMine{

      background-image: url("./components/images/buttonImage.png");
          background-size: cover;
          background-color: white;
   width: 4rem;
   height: 4rem;
   margin-left: 1rem;

   margin-top:  1rem;
   border-style: none;
}




@media (max-width:780px) {
  #mineDiv{
    width: 70%;

  }
  .safeMine{


     width: 3rem;
     height: 3rem;
     margin-left: 1rem;


  }

  #win1 img{
    width: 70%;
    height:18rem;
  }
  #lose1 img{
    width: 70%;
    height:18rem;

  }

}


@media (max-width:468px) {
  #mineDiv{
    width: 80%;

  }
  .mainClass{
  height: 40rem;
}
  .safeMine{


     width: 1.85rem;
     height: 1.85rem;
     margin-left: 1rem;


  }
  #win1 img{
    width: 80%;
    height:15rem;
  }
  #lose1 img{
    width: 80%;
    height:15rem;

  }

}
@media (min-width:780px){
  #mineDiv{
    width: 55%;

  }

  #mainSide{
    width: 25%;
  }
  #side{
    width: 10%;
   margin-left: 1rem;
   margin-right: 1rem;
  }


  a:hover{

    font-weight: bolder;
  }
  a:visited:hover{
    font-weight: bolder;
  }
  #mineDiv button:hover{
      width: 4.5rem;
      height: 4.5rem;
  }
  #restart button:hover{

    background-color: white;
    color: black;
    border-radius:10%;
  }


}

@media (min-width:1100px){
  #mineDiv{
    max-width: 30rem;
  }
}
.help{
 width: 80%;
 height: 40rem;
font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
